// Type
 button, input, select, textarea, pre { margin: 0; }
h1, h2, h3, h4, h5, h6, p, dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
button, input, select, textarea { font-family: inherit; font-size: 100%; }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }
html,body {
    position: relative;
    height: 100%;
    width: 100%;
}
body {
    font-family: "robotoregular";
    margin: 0;
    padding: 0;
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
    font-weight: @base-font-weight;
    line-height: 1.5rem;
    width: 100%;
    -webkit-text-size-adjust:100%;
    background: #fff;
    overflow: hidden;
    text-rendering: optimizelegibility;
}

* { 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-touch-callout:none;
}
body.antialiased-always {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-device-pixel-ratio: 1.5) {
  body.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

//Fixed Typography for total control
.display-4{
     font-family: "robotolight";
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @alternate-text-color-opacity);
    font-size: 7rem;
    font-weight: lighter;
    white-space: nowrap;
    letter-spacing: -0.01em;
}
.display-3{
    font-family: 'robotoregular';
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @alternate-text-color-opacity);
    font-size: 3.5rem;
    letter-spacing: -0.005em;
    white-space: nowrap;
}
.display-2 {
  font: 2.8125rem 'robotoregular';
  color: rgba(red(@text-color), green(@text-color), blue(@text-color), @alternate-text-color-opacity);
  letter-spacing: normal;
}
.display-1{
    font-family: 'robotoregular';
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @alternate-text-color-opacity);
    font-size: 2.125rem;
    letter-spacing: normal;
}
.headline{
    font-family: 'robotoregular';
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
    font-size: 1.5rem;
    letter-spacing: normal;
}
.title{
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.005em;
}
.subhead{
    font-family: 'robotomedium';
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
    font-size: 0.9375rem;
    letter-spacing: 0.01em;
   
      font-size: 1rem;
}
.body-2{
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
    font-size: 0.875rem;
    
}
.body-1{
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
    font-size: 0.8125rem;
   
}
.caption{
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @alternate-text-color-opacity);
    font-size: 0.75rem;
  letter-spacing: 0.02em;
   
}
.menu-text{
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
    font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.01em;
   
}
.button{
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
    font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
   
}
.strong, strong{
  color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.01em;
}
//End of Fixed Typography
//Note that the although I say fixed it still adjusts to screen sizes
a, input, textarea, select {
    outline: 0;
}

// Base Type Scale

h1, .h1, .f1 {
      font-family: "robotolight";
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @alternate-text-color-opacity);
    
  font-size: 2rem;
  line-height: 3rem;
}

h2, .h2, .f1 {
  font-family: "robotoregular";
   color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
  font-size: 1.5rem;
  line-height: 2rem;
}

h3, .h3, .f3 {
  font-family: "robotoregular";
   color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
  font-size: 1.25rem;
  line-height: 2rem;
}

p, .p, .f4, h4, h5, h6, dl, ol, ul {
    font-family: 'robotoregular';
    color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
 
  font-size: 1.125rem;
  line-height: 1.5rem;
}

small, .small, .f5 {
  font-family: "robotothin";
  font-size: .875rem;
  line-height: 1.5rem;
}

a {
  color: @blue-darker;
  text-decoration: none;
  &:hover {
    color: darken(@blue, 10%);
  }
}
// Responsive Type Scale

@media (min-width: 48em) {
  .h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .small {
    font-size: 1rem;
  }
}

@media (min-width: 64em) {
  .h1 {
    font-size: 6rem;
    line-height: 8rem;
  }
  .h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}


// Utilities

strong, .bold { font-weight: bold;  color: rgba(red(@text-color), green(@text-color), blue(@text-color), @text-color-opacity);
}
.regular { font-weight: normal; }
.italic { font-style: italic; }
.caps { text-transform: uppercase; letter-spacing: .2em; }
.center { text-align: center; }
.right-align  { text-align: right; }


// Typographical Measure
// Use with the .wrap class to center container

.measure { max-width: 48rem; }
.measure-narrow { max-width: 32rem; }
.measure-wide { max-width: 60rem; }


// Leading utilities to control line-height

.leading-1 { line-height: 1.5rem; }
.leading-2 { line-height: 2rem; }
.leading-3 { line-height: 3rem; }
.leading-4 { line-height: 4rem; }

// White text color

.white-text {
     color: rgba(red(@white-text-color), green(@white-text-color), blue(@white-text-color), @text-color-opacity);
 }
.white-text-light {
     color: rgba(red(@white-text-color), green(@white-text-color), blue(@white-text-color),  @alternate-text-color-opacity);
 }
.text-shadow {
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
}